* {
    margin: 0;
    padding: 0;

}

.onthetop {
    width: 99%;
    background-color: pink;
    height: 28px;
    line-height: 28px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e9e9e9;
    margin: 0 auto;

    .text {
        font-family: inherit;
        font-size: 13px;
        float: left;
        color: #333;
        padding-left: 3%;
    }

    .topmenu {
        float: right;
        padding-right: 3%;
        height: 28px;

        .linemenu {
            height: 28px;
            padding-left: 0;
            list-style: none;
            box-sizing: border-box;

            li {
                margin: auto 0;
                display: inline;

                a {
                    font-size: 12px;
                    text-decoration: none;
                    color: #666;
                    padding-right: 10px;
                    border-right: 1px solid #e9e9e9;
                    margin-left: 10px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:last-child a {
                    border-right: 0;
                    padding: 0;
                }
            }

        }
    }
}
.homedgv {
    width: 99%;
    height: 88px;
    margin-top: 1%;
    overflow: hidden;
    .logo {
        float: left;
        width: 20%;
        padding-left: 5%;

        img {
            width: 100%;
            min-height: 65px;
        }
    }

    .search {
        padding-top: 16px;
        width: 50%;
        float: left;
        font-size: 13px;

        .type-search {
            float: left;

            select {
                height: 38px;
                padding-left: 9px;
                width: 145px;
                border: 1px solid #000;
                border-right: 1px solid #ccc;

                option {
                    margin-left: 10px;
                }
            }
        }

        .inp-search {
            position: relative;
            line-height: 38px;
            display: flex;
            justify-content: space-between;
            max-width: 1000px;
            input {
                height: 38px;
                line-height: 38px;
                border: 1px solid #000;
                border-left: 0;
                width: 65%;
                float: left;
                border-right: 0;
                flex: 100;
            }

            i.fa-search {
                float: left;
                height: 38px;
                width: 38px;
                line-height: 30px;
                font-size: 20px;
                color: white;
                // padding: 5 10 10 5px;
                padding-left: 7px;
                // padding-bottom: 10px;
                background-color: #f6b833;
                cursor: pointer;
                border: 1px solid #000;
                border-left: 0;
            }
        }
    }

    .cart-phone {
        width: 30%;
        display: flex;
        justify-content: space-between;
        .cart {
            width: 40%;
            display: inline-block;
            padding: 0 3%;
            margin-top: 16px;
            cursor: pointer;
            height: 38px;
            line-height: 37px;
            background: #623827;
            border-radius: 5px;
            color: white;
            i {
                font-size: 20px;
            }
            .count__cart{
                margin-left: 5px;
                height: 17px;
                width: 17px;
                background-color: white;
                color: red;
                font-size: 12px;
                padding: 0 4px;
                border-radius: 50%;
            }

        }
        .phone{
            
            width: 50%;
            margin-left: 10px;
            display: flex;
            .icon-phone{
                margin-top: 10px;
                color: #ff0;
                i{
                    margin-right:10px;
                    font-size: 50px;
                }
            }
            .number{
                margin-top: 16px;
                color: #ee7c33;   
                width: 176px;
                height: 57px;
                width: 176px;
                font-weight: bold;
                font-size: 21px;
                text-align: left;
                background-size: 36px;
                float: right;
            }
        }
    }
}

@media (max-width: 767px) {
    .onthetop {
        .topmenu {
            display: none;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {
    .onthetop {
        .topmenu {
            display: none;
        }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}
@media (max-width:1199px){
    .homedgv{
        width: 99%;
        .row{
            .logo{
                margin-left: 2%;
                width: 5%;
                background-image: url('../images/icon-bg.png');
                background-repeat: no-repeat;
                background-position: right;
                background-size: 35px;
            }
            .search{
                display: block;
                width: 70%;
                .form-search{
                    .type-search{
                        display: none;
                    }
                    .inp-search{
                        input{
                            border: 1px solid #000;
                            width: 100%;
                        }
                    }
                }
            }
           .cart-phone{
            display: block;
            width: 65px;
               .cart{
                   width: 60px;
                        padding-left: 5px;
                   i{
                   }
                   .text__cart{
                           display: none;
                   }
                   .count__cart{
                   }
               }
               .phone{
                   display:none;
               }
           } 
        }
    }
}
// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) {
    .onthetop {
        .topmenu {
            display: block;
        }
    }
}